body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #17076ade;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  h1 {
    background:#17076ade;
    color: #d4d5db;
    padding: 10px 0;
    text-align: center;
    margin-top: 0;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background: #17076ade;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #555;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .completed {
    text-decoration: line-through;
  }
  
  .checkbox {
    margin-right: 10px;
  }  